.#{$page-prefix-cls} {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &-item {
    background-color: #fff;
    border: 1px solid $border-color-base;
    border-radius: $btn-border-radius;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-weight: 500;
    height: $btn-circle-size;
    line-height: $btn-circle-size - 2px;
    list-style: none;
    margin-right: 4px;
    min-width: $btn-circle-size;
    text-align: center;
    //transition: all $transition-time $ease-in-out;
    transition: border $transition-time $ease-in-out, color $transition-time $ease-in-out;
    user-select: none;
    //float: left;
    vertical-align: middle;

    a {
      color: $text-color;
      margin: 0 6px;
      text-decoration: none;
      //transition: none;
    }

    &:hover {
      border-color: $primary-color;

      a {
        color: $primary-color;
      }
    }

    &-active {
      border-color: $primary-color;

      a,
      &:hover a {
        color: $primary-color;
      }
    }
  }

  &-with-disabled &-item,
  &-with-disabled &-disabled {
    background-color: $input-disabled-bg;
    cursor: $cursor-disabled;

    a {
      color: #ccc;
    }

    &:hover {
      border-color: $border-color-base;

      a {
        color: #ccc;
        cursor: $cursor-disabled;
      }
    }

    &-active {
      background-color: $border-color-base;
      border-color: $border-color-base;

      a,
      &:hover a {
        color: #fff;
      }
    }
  }

  &-item-jump-prev,
  &-item-jump-next {
    //&:after {
    //    content: "•••";
    //    display: block;
    //    letter-spacing: 1px;
    //    color: #ccc;
    //    text-align: center;
    //}
    i {
      color: #ccc;
    }

    i:first-child {
      display: none;
    }

    &:hover {
      //&:after{
      //    display: none;
      //}
      i:first-child {
        color: $primary-color;
        display: inline;
      }

      i:last-child {
        display: none;
      }
    }
  }

  &-with-disabled &-item-jump-prev,
  &-with-disabled &-item-jump-next {
    cursor: $cursor-disabled;

    i {
      color: #ccc;
    }

    &:hover {
      //&:after{
      //    display: block;
      //}
      i:first-child {
        display: none;
      }

      i:last-child {
        display: inline;
      }
    }
  }

  &-item-jump-prev:hover {
    i:first-child::after {
      margin-left: -8px;
    }
  }

  &-item-jump-next:hover {
    i:first-child::after {
      margin-left: -8px;
    }
  }

  &-prev {
    margin-right: 4px;
  }

  &-item-jump-prev,
  &-item-jump-next {
    margin-right: 4px;
  }

  &-prev,
  &-next,
  &-item-jump-prev,
  &-item-jump-next {
    border: 1px solid $border-color-base;
    border-radius: $btn-border-radius;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    height: $btn-circle-size;
    line-height: $btn-circle-size - 2px;
    list-style: none;
    //float: left;
    min-width: $btn-circle-size;
    text-align: center;
    transition: all $transition-time $ease-in-out;
    user-select: none;
    vertical-align: middle;
  }

  &-item-jump-prev,
  &-item-jump-next {
    border-color: transparent;
  }

  &-prev,
  &-next {
    background-color: #fff;

    a {
      color: #666;
      font-size: 14px;
    }

    &:hover {
      border-color: $primary-color;

      a {
        color: $primary-color;
      }
    }
  }

  &-disabled {
    cursor: $cursor-disabled;

    a {
      color: #ccc;
    }

    &:hover {
      border-color: $border-color-base;

      a {
        color: #ccc;
        cursor: $cursor-disabled;
      }
    }
  }

  &-options {
    display: inline-block;
    //float: left;
    margin-left: 15px;
    vertical-align: middle;

    &-sizer {
      display: inline-block;
      //float: left;
      margin-right: 10px;
    }

    &-elevator {
      display: inline-block;
      //float: left;
      height: $btn-circle-size;
      line-height: $btn-circle-size;
      vertical-align: middle;

      input {
        @include input;
        border-radius: $btn-border-radius;
        margin: 0 8px;
        width: 50px;
      }
    }
  }

  &-total {
    display: inline-block;
    //float: left;
    height: $btn-circle-size;
    line-height: $btn-circle-size;
    margin-right: 10px;
  }

  &-simple &-prev,
  &-simple &-next {
    border: 0;
    font-size: 18px;
    height: 24px;
    line-height: normal;
    margin: 0;
  }

  &-simple &-simple-pager {
    display: inline-block;
    //float: left;
    margin-right: 8px;
    vertical-align: middle;

    input {
      @include input;
      background-color: #fff;
      border: 1px solid $border-color-base;
      border-radius: $btn-border-radius;
      box-sizing: border-box;
      height: 24px;
      margin: 0 8px;
      outline: none;
      padding: 5px 8px;
      text-align: center;
      transition: border-color $transition-time $ease-in-out;
      width: 30px;

      &:hover {
        border-color: $primary-color;
      }
    }

    span {
      padding: 0 8px 0 2px;
    }
  }

  &-custom-text,
  &-custom-text:hover {
    border-color: transparent;
  }
}

.#{$page-prefix-cls} {
  &.mini .#{$page-prefix-cls}-total {
    height: $btn-circle-size-small;
    line-height: $btn-circle-size-small;
  }

  &.mini .#{$page-prefix-cls}-item {
    border: 0;
    border-radius: $btn-border-radius-small;
    height: $btn-circle-size-small;
    line-height: $btn-circle-size-small;
    margin: 0;
    min-width: $btn-circle-size-small;
  }

  &.mini .#{$page-prefix-cls}-prev,
  &.mini .#{$page-prefix-cls}-next {
    border: 0;
    height: $btn-circle-size-small;
    line-height: $btn-circle-size-small - 2px;
    margin: 0;
    min-width: $btn-circle-size-small;

    a {
      i::after {
        height: $btn-circle-size-small;
        line-height: $btn-circle-size-small;
      }
    }
  }

  &.mini .#{$page-prefix-cls}-item-jump-prev,
  &.mini .#{$page-prefix-cls}-item-jump-next {
    border: none;
    height: $btn-circle-size-small;
    line-height: $btn-circle-size-small;
    margin-right: 0;
  }

  &.mini .#{$page-prefix-cls}-options {
    margin-left: 8px;

    .#{$page-prefix-cls}-options-elevator {
      height: $btn-circle-size-small;
      line-height: $btn-circle-size-small;

      input {
        @include input-small;
        width: 44px;
      }
    }
  }
}
