@import './custom';
@import './mixins/index';

@import 'normalize.css';

@import './common/base';
@import './common/layout';
@import './common/article';
@import './common/icons';
@import './animation/index';

@import './components/affix';
@import './components/alert';
@import './components/anchor';
@import './components/auto-complete';
@import './components/avatar';
@import './components/back-top';
@import './components/badge';
@import './components/breadcrumb';
@import './components/button';
@import './components/card';
@import './components/carousel';
@import './components/cascader';
@import './components/cell';
@import './components/checkbox';
@import './components/circle';
@import './components/collapse';
@import './components/color-picker';
@import './components/date-picker';
@import './components/divider';
@import './components/drawer';
@import './components/dropdown';
@import './components/form';
@import './components/input-number';
@import './components/input';
@import './components/layout';
@import './components/list';
@import './components/loading-bar';
@import './components/menu';
@import './components/message';
@import './components/modal';
@import './components/notice';
@import './components/page';
@import './components/poptip';
@import './components/progress';
@import './components/radio';
@import './components/rate';
@import './components/scroll';
@import './components/select-dropdown';
@import './components/select';
@import './components/slider';
@import './components/spin';
@import './components/split';
@import './components/steps';
@import './components/switch';
@import './components/table';
@import './components/tabs';
@import './components/tag';
@import './components/time-picker';
@import './components/time';
@import './components/timeline';
@import './components/tooltip';
@import './components/transfer';
@import './components/tree';
@import './components/upload';
