.ivu-article {
  h1 {
    font-size: 26px;
    font-weight: normal;
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
  }

  h3 {
    font-size: 16px;
    font-weight: normal;
  }

  h4 {
    font-size: 14px;
    font-weight: normal;
  }

  h5 {
    font-size: 12px;
    font-weight: normal;
  }

  h6 {
    font-size: 12px;
    font-weight: normal;
  }

  blockquote {
    border-left: 4px solid #ddd;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 5px 5px 3px 10px;
  }

  ul:not([class^='ivu-']) {
    list-style-type: disc;
    padding-left: 40px;
  }

  li:not([class^='ivu-']) {
    font-size: 14px;
    margin-bottom: 5px;
  }

  ul ul:not([class^='ivu-']),
  ol ul:not([class^='ivu-']) {
    list-style-type: circle;
  }

  p {
    font-size: 14px;
    margin: 5px;
  }

  a:not([class^='ivu-'])[target='_blank']::after {
    color: #aaa;
    content: '\F3F2';
    font-family: Ionicons;
    margin-left: 3px;
  }
}
